<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="evgenykravtsov.appblocker">

    <!-- Internet permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Boot permissions -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- System permissions -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".external.android.AppBlockerController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".presentation.view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.view.activity.BlockerActivity"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true" />

        <activity
            android:name=".presentation.view.activity.ExerciseSettingsActivity"
            android:label="Exercise settings"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.activity.MainActivity" />
        </activity>

        <activity android:name=".presentation.view.activity.FeedbackActivity"
            android:label="Feedback">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.activity.MainActivity" />
        </activity>

        <activity android:name=".presentation.view.activity.TestExerciseActivity" />

        <service android:name=".external.android.AppBlockerService" />

        <receiver
            android:name=".external.android.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>